body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    font-size: 1.5em;
}

h1 {
    margin-bottom: -10px;
}
.game_content {
    text-align: center;
    background-color: #89A15B;
    padding: 60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 41.5%;
    border: 2px solid black;
    height: 45rem;
    color: #344a3d;
}

.flashcard {
    width: 90%;
    height: 38rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    place-items: center;
    font-size: 5rem;
}

.flashcard.is-flipped {
    transform: rotateY(180deg);
}

.flashcard div {
    position: absolute;
    width: 100%;
    height: 70%;
    backface-visibility: hidden;
    border-radius: 15px;
    background: linear-gradient(135deg, #f3f7fa, #c3cfe2);
    display: grid;
    place-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1.1em;
}

.back {
    transform: rotateY(180deg);
}

button {
    margin: 8px;
    padding: 14px 35px;
    border: none;
    border-radius: 25px;
    background-color: #344a3d;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    filter: brightness(0.8);
}

button:active {
    transform: scale(0.95);
}

/* Make sure images are responsive inside the flashcards */
.flashcard img {
    height: 15rem;
    object-fit: cover; /* Maintain aspect ratio while fitting the image */
}
