.castle-image {
    width: 750px;
    height: auto;
}
  h1 {
      color: #344a3d;
    }

  body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: white;
      font-family: Arial, sans-serif;
      text-align: center;
  }

  /* Game container */
  .game-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

/* Drop zone */
.drop-zone {
    width: 200px;
    height: 200px;
    border: 3px dashed #000;
    margin: 20px auto;
    position: relative;
}

/* Hide shapes initially */
.shape {
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

  /* Draggable Shapes */
  #shapes-container {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
  }

  .shape:active {
      cursor: grabbing;
  }