.back-btn {
    border-radius: 100px;
    background-color:brown;
    color: white;
}
#inventory-el {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
#background-el {
    background-color: lightblue;
    width: 41.5%;
    height: 45rem;
    margin: auto;
    display: grid;
    place-items: center;
}