body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #344a3d;
  }
  
  .game-wrapper {
    width: 45.1%;
    height: 45rem;
    margin: 0 auto; 
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: #89A15B;
  }
  
  .gameoverall {
    background-color: #89A15B;
    width: 45.1%;
    margin: auto;
  }

  .images-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .words-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .dropzone {
    width: 100px; 
    height: 100px; 
    border: 3px dashed #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .dropzone img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .dropzone.over {
    border-color: #344a3d;
    background-color: #e0e0e0;
  }
  
  .draggable {
    background-color: #344a3d;
    width: 100px;
    height: 100px;
    color: white;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: grab;
    user-select: none;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .draggable:active {
    cursor: grabbing;
  }
