.navbar ul{
    list-style-type: none; 
}

/* .navbar li{
    margin: 1rem; 
    margin:
    float: right;  
} */

.navbar a{
    color: #344a3d; 
    text-decoration: none; 
    display: block; 
}