.flex-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
}

.playbutton {
    position: absolute;
    width: 300px;
    cursor: pointer;
    transition: filter 0.3s;
}

.playbutton:hover {
    filter: brightness(0.8);
  }

.welcome {
    margin: auto;
    width: 45.1%;
    height: 45rem;
    background-color: #89A15B;
    display: grid;
    place-items: center;
    position: relative;
}

button {
    text-align: center;
    padding: 10px 20px;
    border: none;
    font-size: 40px;
    width: 100px;     
    height: 50px;     
    display: flex;     
    align-items: center;  
    justify-content: center;
    border: none;
    background-color: #344a3d;
    color: white;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.8);
}
#startbutton {
    font-size: 20px;
    margin-top: -40px;
}


@font-face {
    font-family: 'Lazydog';
    src: url('assets/lazy_dog.ttf') format('truetype');
}

.welcome h1 {
    font-family: 'Lazydog', sans-serif;
    font-size: 72.9px;
    text-align: center;
    color: #344a3d;
}

.instructions {
    font-size: 14px;
    margin-top: -100px;
    font-family: 'Archivo Black', sans-serif; 
}

.welcome h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
}




body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #344a3d;
  }
  
  .game-wrapper {
    width: 45.1%;
    height: 45rem;
    margin: 0 auto; 
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    background-color: #89A15B;
  }
  
  .gameoverall {
    background-color: #89A15B;
    width: 45.1%;
    margin: auto;
  }

  .images-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .words-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .dropzone {
    width: 100px; 
    height: 100px; 
    border: 3px dashed #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .dropzone img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .dropzone.over {
    border-color: #344a3d;
    background-color: #e0e0e0;
  }
  
  .draggable {
    background-color: #344a3d;
    width: 100px;
    height: 100px;
    color: white;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: grab;
    user-select: none;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .draggable:active {
    cursor: grabbing;
  }
  
  