.volcano-image {
    width: auto;
    height: 450px;
}
 h1 {
      color: #344a3d;
    }
 body {
          margin: 0;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          color: white;
          font-family: Arial, sans-serif;
          text-align: center;
 }